body {
    background-color: Gray;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

div {
    border:1px solid black;
}

.top-navigation {
    background-color: white;
}
.top-navigation > .content {
    width: 60em;
    height: 4.375em;
    margin: 0 auto;
}

.top-navigation .links {
    float: right;
    list-style: none;
    padding: 0;
    margin-top: 1.5em;
}

.top-navigation .links li {
    display: inline-block;
    margin: 0 auto;
}
